<!DOCTYPE html>
<html>
<head>
    <title>Novo produto</title>
</head>
<body>

Nome
<input type="text" name="nome" />
Descrição
<textarea type="text" name="descricao" ></textarea>
Quantidade
<input type="number" name="quantidade" />
Preço
<input type="number" name="preco" step="0.01" />

<button type="submit">Criar</button>

</body>
</html>